// External imports

// @import 'o-grid/main';

// Internal imports
@import 'o-avatar/main';
@import 'o-icons/main';
@import 'src/scss/variables';
@import 'src/scss/mixins';
@import 'node_modules/pearson-elements/scss/elements';

@include oIconsInclude(oc-icons);


@if not $o-profile-view-is-silent {
	@include oYourComponentHello(world of Origami);
}

.o-profile__ct {
  clear: both;
  font-family: sans-serif;

  .o-profile__left-column {
    float: left;
    width: 250px;
 		top: 50%;
 		transform: translateY(50%);
  }
  .o-profile__right-column {
    float: left;
    width: 75%;
    hr {
      height: 1px;
      background: #cccccc;
      border: none 0px;
    }
    .o-profile__detail-ct {
      clear: both;
      .o-profile__detail-avatar {
        float: left;
        width: 20%;

      }
      .o-profile__detail-table {
        float: left;
        width: 60%;
        table tr td {
          border-bottom: solid 1px #cccccc;
        }
      }
			.o-profile--detail-label {
				border-bottom: solid 1px gray;
				font-weight: bold;
				margin-top: 35px;
			}
			.o-profile--label-edit-link {
				float: right;
				color: blue;
				font: 16px;
			}
			.o-profile--clearfix {
				clear: both;
			}
			.o-profile--bio-edit-form {
				margin-top: 12px;
				// background: yellow;
				padding: 12px;
				position: relative;
				border-radius: 6px;
				// border: 1px solid orange;
				textarea {
					display: block;
					width: 100%;
					height: 250px;
				}
			}
      .o-profile__detail-edit {
        width: 40%;
        // float: right;

			}
			.o-profile__detail-count {
				width: 40%;
				float: right;
				font: 11px arial, sans-serif;
				position: absolute;
				bottom: 50px;
				right: 0px;
			}
			.o-profile--cancel-edit {
				float: left;

			}
			.o-profile--submit-bio {
					display: block;
				// width: 80px;
				float: right;
				// border-radius: 3px;
				// padding: 6px 12px;
				// background: blue;
				// background-color: #0E67A9;
				// color: #FFF;
				// line-height: 1.42857;
			}

			.o-profile--bio-target-add {
				width: 150px;

				background: none;
				border: none;
				padding: 4px 1px ;
				font: 16px arial, sans-serif;
				font-weight: 400;
				color: blue;
			}

			.oc-icon-add {
				width: 100px;
				border-radius: 100%;
				border: 1px solid blue;
				// padding: 2px ;
				// background: blue;
				color: blue;
				margin-right: 10px;
			}
  	}
	}
}
