{{! Your template here }}
<div class="o-input">

<span> Token: </span>
   <textarea rows="5" type="text" id="htmlToken" value="xxx" checked> </textarea>
   <span> Pi Id: </span>
   <input type="text" id="htmlPIid"   value="xxx">
   <span> UserProfileURL </span>
   <input type="text" id="htmlURL"   value="xxx">

</div>


<br>
   <br>
<div style="clear: both;"></div>
<h1>MyProfile</h1>
<hr/>
<div id="demoProfile"></div>
